.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding: auto;
}
.end{
    justify-content: end;
    
}
.row{
    display: flex;
    flex-direction: row;
}
.left{
    width: 50%;
    height:100%;
    margin: 20px 50px 0px 50px;
}
.col{
    margin: 20px 50px 0px 0px;
    background-color: rgb(9, 53, 88);
    color: white;
}
